<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style type="text/css">
        .jumbotron {
          padding: 4rem 2rem;
          margin-bottom: 2rem;
          background-color: var(--bs-light);
          border-radius: .3rem;  
        }
    </style>
    <title>Adoption</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
      <a class="nav-item nav-link" href="{{ url_for('puppies.add') }}">Add Pup</a>
      <a class="nav-item nav-link" href="{{ url_for('puppies.list') }}">List of Pups</a>
      <a class="nav-item nav-link" href="{{ url_for('puppies.delete') }}">Delete Pup</a>
      <a class="nav-item nav-link" href="{{ url_for('owners.add') }}">Add Owner</a>
    </div>

</nav>

    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>
